
@{
    ViewBag.Title = "NoAutorizado";
}

<br />
<div class="bb-alert alert alert-danger">No dispone de permisos para la acción que intenta realizar.</div>

<a href="~/Home/Index">Volver al Home</a>


